@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

@layer base {
  :root {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
  .dark {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
  h1 {
    @apply text-4xl font-bold leading-relaxed; /* Large and bold */
  }

  h2 {
    @apply text-3xl font-semibold leading-snug; /* Well-spaced but not too tight */
  }

  h3 {
    @apply text-2xl font-medium leading-normal; /* Balanced spacing */
  }

  p {
    @apply text-lg leading-relaxed; /* More relaxed for readability */
  }

  ul,
  ol {
    @apply text-lg leading-relaxed pl-5;
  }

}

/* @layer base {
  * {
    @apply border-border ;
  }
  body {
    @apply bg-background ;
  }
} */

/* 
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* styles/globals.css */
/* h1 {
  @apply text-4xl font-bold ;
}

h2 {
  @apply text-3xl font-semibold ;
}

h3 {
  @apply text-2xl font-medium leading-[500px];
}

ul {
  @apply list-disc pl-5;
}

ol {
  @apply list-decimal pl-5;
} */
